# Struggling with Pandas

In [ ]:
# Run this cell, but please don't change it.

# These lines import the Numpy and Pandas modules.
import numpy as np
import pandas as pd

# Safe Pandas
pd.set_option('mode.chained_assignment','raise')

# These lines load the tests.
from client.api.notebook import Notebook
ok = Notebook('pandas_struggles.ok')

At the moment, the line below will cause a nasty error.

Try a different [encoding](https://uob-ds.github.io/cfd2021/wild-pandas/text_encoding) to load this file correctly.

In [ ]:
#- Modify the line below to make the file load correctly.
my_data = pd.read_csv('nasty_stuff.csv')

Here is the contents of the data frame:

In [ ]:
my_data

We want the mean 'Cost'.  At the moment this will generate an error.  Try it:

In [ ]:
my_data['Cost'].mean()

Show the data types of the columns with the `dtypes` attribute of the data
frame:

In [ ]:
...

You will have found that the column type of 'Cost' is 'object' - meaning that it is not, as you hoped, a number type such as `int` or `float`.

Make copy of the data frame using the `copy` attribute of `my_data`:

In [ ]:
fixed_data = ...

In [ ]:
_ = ok.grade('q_fixed_data')

Fetch the 'Cost' column of `fixed_data` as a Series.  Don't forget to make this a copy.

In [ ]:
fixed_cost = ...
fixed_cost

Use `.loc` to set value with index label 2 of 'fixed_cost' to `np.nan`, meaning, a missing value.  Then use the Pandas `to_numeric` function to convert `fixed_cost` to a numeric type.

In [ ]:
fixed_cost...
fixed_cost

In [ ]:
_ = ok.grade('q_fixed_cost')

Finally use `loc` to replace the 'Cost' column in `fixed_data` and calculate the mean of the `fixed_data` 'Cost' column:

In [ ]:
mean_cost = ...
mean_cost

In [ ]:
_ = ok.grade('q_mean_cost')

## IMDB again

Modify the cell below to load the `imdblet_latin.csv` file correctly.

In [ ]:
films = pd.read_csv('imdblet_latin.csv')
films.head()

Put the `Votes` column into its own Series with variable name `votes`. Don't
forget "copy right".

In [ ]:
votes = ...
votes.head()

In [ ]:
_ = ok.grade('q_votes')

One of the values has a colon in its text, so it cannot be converted to a number.  You can detect that situation with:

In [ ]:
bad_val = '29395:4'
':' in bad_val

Write a recoding function to replace any values containing colons with `np.nan` (the missing value), and otherwise, convert the value to an `int`.

In [ ]:
def dump_colons(v):
    ...

Test your function with:

In [ ]:
print(dump_colons('32'))
print(dump_colons('901'))
print(dump_colons('901:3'))
print(dump_colons('1:30'))

In [ ]:
_ = ok.grade('q_dump_colons')

`apply` your function to the `votes` series to replace the bad value, with a colon:

In [ ]:
fixed_votes = ...
fixed_votes.tail()

In [ ]:
_ = ok.grade('q_fixed_votes')

Make a copy of the `films` data frame called `films_refixed`, and insert the fixed votes column.

In [ ]:
films_refixed = ...
films_refixed.tail()

In [ ]:
_ = ok.grade('q_films_refixed')

Calculate the mean of the not-NaN votes.

In [ ]:
mean_votes = ...
mean_votes

In [ ]:
_ = ok.grade('q_mean_votes')

## Done

You're finished with the assignment!  Be sure to...

- **run all the tests** (the next cell has a shortcut for that),
- **Save and Checkpoint** from the "File" menu.
- Finally, **restart** the kernel for this notebook, and **run all the
  cells**, to check that the notebook still works without errors.  Use the
  "Kernel" menu, and choose "Restart and run all".  If you find any problems,
  go back and fix them, save the notebook, and restart / run all again, before
  submitting.  When you do this, you make sure that we, your humble markers,
  will be able to mark your notebook.